#TableOfContents{
  color:#0366d6;
  line-height: 1.5;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, 'メイリオ', Meiryo, "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 15px;
  line-height: 1.7;
}

.expand-fig {
  /*padding:0px 0px;*/
  /*margin-block-start:0em;*/
  /*margin-inline-end:40px;*/
  margin-right: 0px;
  margin-left: 0px;
}

.center-fig{
  /*display:block;*/
  /*margin: 0 auto;*/
  text-align:center;
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  /*padding-left:auto;*/
  /*padding-right:auto;*/
}

.twitter-tweet-rendered {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.iframely-embed{
  margin-top:20px;
  margin-bottom:20px;
}

.sns_parent {
  text-align: center;
  padding:10px 0px;
}

.sns_section {
  display: inline-block;
  text-align: left;
}
.sns_button {
  float: left;
  box-shadow: inset 0 0 0 2px #42464c;
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1B95E0;
}

.facebook:hover a {
  color: #3B5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #EE4056;
}

.hatena:hover a {
  color: #4BA3D9;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}